<Section class="section" relative id="Articles__Hero">
    <div class="heading-container" style="max-width: 1200px;">
        <div class="column">
            <img src="/images/shan-featured.png">
        </div>
        <div class="column">
            <h1 class="hero-heading">{{ .Page.Params.hero.heading }}</h1>
            <div class="square-app-button-wrapper">
                <!-- Start Square Appointments Embed code --> 
                <a class="square-app-button" href="/products/portrait/" target="_top" rel="nofollow">Create A Portrait</a> 
                <!-- End Square Appointments Embed code -->
            </div>
        </div>
    </div>
    <div class="subheading-container">
        {{ partial "bio.html" . }}
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
