<div class="product-container" style="margin-bottom: 10%">

<h3 style="margin: 30px 0;">Step 1: Upload a photo!</h3>
<input
type="hidden"
role="uploadcare-uploader"
data-images-only="true"
data-preview-step="true" />

<h3 style="margin: 30px 0;">Step 2: Choose a size</h3>
<img 
src="../../images/canvas-ref.jpg"
style="width: 45%;">

    <form id="portrait-form">
        <select
        required 
        name="size-select"
        style="margin-top: 20px; width: 45%">
            <option disabled hidden selected>Select canvas size</option>
            <option value='08x10'>8" width X 10" height</option>
            <option value='09x12'>9" width X 12" height</option>
            <option value='11x14'>11" width X 14" height</option>
            <option value='12x16'>12" width X 16" height</option>
            <option value='16x20'>16" width X 20" height</option>"
        </select>

        <div style="margin-bottom: 20px;">
        <h3 style="margin:20px 0;">Step 3: Select Black & White or Full Color</h3>
        <label for='fc'>
            <input type='radio' id='bw' name='color-select' value='BW' required>
            Black & White
        </label><br>
        <label for='fc'>
            <input type='radio' id='fc' name='color-select' value='FC' required>
            Full Color
        </label><br>
        </div>
        
    </form>

    <a
    submit
    href="#"
    class="clayer-add-to-bag"
    data-sku-code="{{ .Page.Params.product }}BW"
    data-sku-name="{{ .Page.Params.title }}"
    data-sku-reference="Any reference"
    data-availability-message-container-id="availability-message-BABYONBU000000E63E74NBXX"
    >Add to Cart</a>

</div>




{{ $script := resources.Get "js/uploadcare.js" }}
<script src="{{ $script.RelPermalink }}"></script>