{{ define "main" }}
<section id="articleHero" class="section narrow">
    <div class="product-container" style="display: flex;
    flex-wrap: wrap; margin-top: 10%;">
        <section class="product-2-col" style="width: 46%; flex-grow: 1; margin: 0 1%">
            <div class="product-image-container" style="text-align: center;">  
                {{ with .Page.Params.hero }}
                <div>
                    <img src="{{ . }}" style="display:inline-block; vertical-align: middle;">
                </div>
                {{ end }}
            </div>
        </section>
        <section class="product-2col" style="width: 46%; flex-grow: 1; margin: 0 1%">
            <header>
                <h2 class="article-hero-heading" style="text-align: center;">{{ .Page.Params.Title }}</h2>
            </header>
            <div class="price-container" style="display: flex; flex-wrap: wrap; margin: 5% 0">
                <h3 style="text-align: center; font-size: 14px;">Choose a style:</h3>

                <div class="price-2col" style="width: 46%; flex-grow: 1; margin: 5% 1%">
                    <input class="clayer-variant" data-sku-code="{{ .Page.Params.product }}BW" type="radio" id="radio-price1" name="radio-price" style="display:none;"  />
                    <label for="radio-price1">
                        <section>
                            <div id="logo-desktop" style="display: flex; justify-content: center; margin-bottom: 5%;">
                                <!-- {{ partial "icons/ui/checkerboard.html" . }} -->
                                <img src="../../images/checkerboard.svg" style="width: 75px;">
                            </div>
                            <h4 style="text-align:center;">Black & White:</h4>
                            <div class="clayer-price" data-sku-code="{{ .Page.Params.product }}BW">
                                <h6 class="amount" style="text-align: center;"></h6>
                                <h6 class="compare-at-amount" style="text-align: center;"></h6>
                            </div>
                        </section>
                    </label>               
                </div>
                <div class="price-2col" style="width: 46%; flex-grow: 1; margin: 5% 1%">
                    <input class="clayer-variant" data-sku-code="{{ .Page.Params.product }}FC" type="radio" id="radio-price2" name="radio-price" style="display:none;" />
                    <label for="radio-price2">
                        <section>
                            <div style="display: flex; justify-content: center; margin-bottom: 5%;">
                                <img src="../../images/colorwheel.svg" style="width: 75px;">
                            </div>
                            <h4 style="text-align: center;">Full Color:</h4>
                            <!-- Price tag -->
                            <div class="clayer-price" data-sku-code="{{ .Page.Params.product }}FC">
                                <h6 class="amount" style="text-align: center;"></h6>
                                <h6 class="compare-at-amount" style="text-align: center;"></h6>
                            </div>
                        </section>
                    </label>                 
                </div>
            </div>
            <!-- Add to bag quantity (optional) -->
            <div style="text-align:center;">
                
                <!-- Add to bag button -->
                <button style="  background-color: royalblue; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                align-items: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;"
                href="#"
                class="clayer-add-to-bag"
                data-sku-code="{{ .Page.Params.product }}BW"
                data-sku-name="{{ .Page.Params.title }}"
                data-sku-reference="Any reference"
                data-sku-image-url="{{ .Page.Params.hero }}"
                data-availability-message-container-id="availability-message"
                >
                    Add to Cart
                </button>
                <a
                    href="#"
                    class="clayer-add-to-bag"
                    data-sku-code="{{ .Page.Params.product }}BW"
                    data-sku-name="{{ .Page.Params.title }}"
                    data-sku-reference="Any reference"
                    data-availability-message-container-id="availability-message-BABYONBU000000E63E74NBXX"
                >Link</a>
            </div>   
        </section>
    </div>
    <div style="width: 100%; margin: 5% 1%;">
        <span style="font-size: 18px; color: grey;">All portraits feature up to two subjects and a simple background, with options to include subjects or detail rich backgrounds for an additional fee. All items are shipped free of charge within the United States. Since this is a custom item, made to order, all sales are final once work begins.</span>
    </div>
    <!-- Shopping Bag -->

    <div id="clayer-shopping-bag-container">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th colspan="2">SKU</th>
            <th>Reference</th>
            <th>Unit price</th>
            <th>Qty</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="clayer-shopping-bag-items-container">
        </tbody> 
        <template id="clayer-shopping-bag-item-template">
          <tr>
            <td>
              <img class="clayer-shopping-bag-item-image"></img>
            </td>
            <td class="clayer-shopping-bag-item-name"></td>
            <td class="clayer-shopping-bag-item-reference"></td>
            <td class="clayer-shopping-bag-item-unit-amount"></td>
            <td class="clayer-shopping-bag-item-qty-container">
              <!-- The unavailable message template is appended to the element
                    below if customer selects a quantity that is not available  -->
              <span class="clayer-shopping-bag-item-availability-message-container"></span>
            </td>
            <td class="clayer-shopping-bag-item-total-amount"></td>
            <td>
              <a href="#" class="clayer-shopping-bag-item-remove">remove</a>
            </td>
          </tr>
        </template>
      </table>

      <table class="table is-fullwidth">
        <tr>
          <td>Subtotal</td>
          <td class="clayer-shopping-bag-subtotal"></td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td class="clayer-shopping-bag-shipping"></td>
        </tr>
        <tr>
          <td>Total</td>
          <td class="clayer-shopping-bag-total"></td>
        </tr>
      </table>
    </div>

    <script>
      // find this user's order ID to attach to an image later
      function getOrderId() {
        let userOrderId;
        let orderLink = document.querySelector("#articleHero > a");
        if (orderLink){
          let orderQueryString = orderLink.href.split("?");
          if (orderQueryString && orderQueryString.length > 1){
            let orderId = orderQueryString[1].split("=");
            if (orderId && orderId.length > 1){
              userOrderId = orderId[1];
              document.getElementById("userOrderId").innerText=userOrderId;
              return userOrderId;
            }
          }
        }        
      }
    </script>
    <!-- Checkout button -->
    <a href="#" class="clayer-shopping-bag-checkout" onload="getOrderId()">Proceed to checkout</a>
</section>

{{ end }}