{{ define "main" }}
<section id="articleHero" class="section narrow">
  <header>
      <h1 class="portrait-title">{{ .Page.Params.Title }}</h1>
  </header>
    <div class="product-container">
        <section class="product-column">
            <div class="step-row">
              <span>Step 1: </span>
              <input
              type="hidden"
              role="uploadcare-uploader"
              data-images-only="true"
              data-preview-step="true" />
            </div>
            <div class="step-row">
              <span>Step 2: </span>
              <select
              required 
              name="size-select">
                  <option disabled hidden selected>Select canvas size</option>
                  <option value='08x10'>8" width X 10" height</option>
                  <option value='09x12'>9" width X 12" height</option>
                  <option value='11x14'>11" width X 14" height</option>
                  <option value='12x16'>12" width X 16" height</option>
                  <option value='16x20'>16" width X 20" height</option>"
              </select>
            </div>

            <div class="step-row">
              <span>Step 3: Select One</span>
              <form id="portrait-form">
                <div class="color-option-container">
                  <section class="color-option">
                    <input type='radio' id='bw' name='color-select' value='BW' required>
                    <label for='bw'>
                        <div id="bwselect select">
                            <img src="../../images/checkerboard.svg">
                            <h5>Greyscale</h5>
                        </div>
                    </label>
                  </section>

                  <section class="color-option">
                    <input type='radio' id='fc' name='color-select' value='FC' required>
                    <label for='fc'>
                        <div id="fcselect select">
                            <img src="../../images/colorwheel.svg">
                            <h5>Full Color</h5>
                        </div>
                    </label>
                  </section>
                </div>
              </form>
            </div>
            <div class="step-row">
            <!-- Add to bag quantity (optional) -->
              <span>Step 4: </span>
                <!-- Add to bag a -->
                <a
                href="#"
                id="add-portrait"
                class="clayer-add-to-bag"
                data-sku-code="Select color and size to update SKU code"
                data-sku-name="{{ .Page.Params.title }}"
                data-sku-reference="Upload a photo for reference"
                >Add to Cart</a>
                <p>Note: limit 1 photo per canvas size and color choice</p>  
            </div>
        </section>
        <section class="product-column">
          <div class="product-image-container" style="text-align: center;">  
              {{ with .Page.Params.hero }}
              <div>
                  <img id="photo-selection" src="{{ . }}" style="display:inline-block; vertical-align: middle;">
              </div>
              {{ end }}
          </div>
      </section>

    </div>
    <div style="width: 100%; margin: 5% 1%;">
        <span style="font-size: 18px; color: var(--primary);">All portraits feature up to two subjects and a simple background, with options to include subjects or detail rich backgrounds for an additional fee to be determined before starting work. Since this is a custom item, made to order, all sales are final once work begins.</span>
    </div>
    <!-- Shopping Bag -->
    <h3 style="margin-left: 0;">Shopping Cart:</h3>

    <div id="clayer-shopping-bag-container">
      <table class="table is-fullwidth item-table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Reference</th>
            <th>Unit price</th>
            <th>Qty</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="clayer-shopping-bag-items-container">
        </tbody> 
        <template id="clayer-shopping-bag-item-template">
          <tr class="cart-line-item">
            <td data-title="Selected Image">
              <img class="clayer-shopping-bag-item-image"></img>
            </td>
            <td data-title="Name" class="clayer-shopping-bag-item-name"></td>
            <td data-title="Reference" class="clayer-shopping-bag-item-reference"></td>
            <td data-title="Price" class="clayer-shopping-bag-item-unit-amount"></td>
            <td data-title="Qty" class="clayer-shopping-bag-item-qty-container">
              <!-- The unavailable message template is appended to the element
                    below if customer selects a quantity that is not available  -->
              <span class="clayer-shopping-bag-item-availability-message-container"></span>
            </td>
            <td data-title="Item Total" class="clayer-shopping-bag-item-total-amount"></td>
            <td>
              <a href="#" class="clayer-shopping-bag-item-remove">Remove</a>
            </td>
          </tr>
        </template>
      </table>

      <table class="table is-fullwidth">
        <tr>
          <td>Subtotal</td>
          <td class="clayer-shopping-bag-subtotal"></td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td class="clayer-shopping-bag-shipping"></td>
        </tr>
        <tr>
          <td>Total</td>
          <td class="clayer-shopping-bag-total"></td>
        </tr>
      </table>
    </div>

    <script>
      // find this user's order ID to attach to an image later
      function getOrderId() {
        let userOrderId;
        let orderLink = document.querySelector("#articleHero > a");
        if (orderLink){
          let orderQueryString = orderLink.href.split("?");
          if (orderQueryString && orderQueryString.length > 1){
            let orderId = orderQueryString[1].split("=");
            if (orderId && orderId.length > 1){
              userOrderId = orderId[1];
              document.getElementById("userOrderId").innerText=userOrderId;
              return userOrderId;
            }
          }
        }        
      }
    </script>
    <!-- Checkout button -->
    <a href="#" class="clayer-shopping-bag-checkout" onload="getOrderId()">Proceed to checkout</a>
</section>

{{ $script := resources.Get "js/portraitBuilder.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ end }}